---
import Layout from '../layouts/Layout.astro';
import MainNavbar from '../components/header/MainNavbar.astro';
import MainHero from '../components/hero/MainHero.astro';
import { showcaseData } from '../data/data.ts'
import { Image } from 'astro:assets';
---

<Layout title="Curated Projects All at Once | Hubku.com">
    <MainNavbar/>

    <main class="lg:mt-6">
        <MainHero/>

        <section class="bg-gray-100 -mt-22">
            <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
                <dl class="grid max-w-screen-md gap-8 mx-auto text-gray-900 sm:grid-cols-4 dark:text-white">
                    <div class="flex flex-col items-center justify-center">
                        <dt class="mb-2 text-3xl md:text-4xl font-extrabold">80+</dt>
                        <dd class="font-light text-gray-500 dark:text-gray-400">projects</dd>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <dt class="mb-2 text-3xl md:text-4xl font-extrabold">2265+</dt>
                        <dd class="font-light text-gray-500 dark:text-gray-400">hours dedicated</dd>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <dt class="mb-2 text-3xl md:text-4xl font-extrabold">10+</dt>
                        <dd class="font-light text-gray-500 dark:text-gray-400">technologies</dd>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <dt class="mb-2 text-3xl md:text-4xl font-extrabold">2+</dt>
                        <dd class="font-light text-gray-500 dark:text-gray-400">developers</dd>
                    </div>
                </dl>
            </div>
        </section>

        <section id="projects" class="bg-white dark:bg-gray-900 my-16">
            {showcaseData.map((v, idx) => 
                <div class={`flex flex-col my-12 lg:my-0 ${(idx % 2 === 0) ? "lg:flex-row" : "lg:flex-row-reverse"} justify-start items-center px-4 mx-auto max-w-screen-xl xl:gap-16 sm:py-8 lg:px-48`}>
                    <Image class="dark:hidden" width="500" height="400" src={v.images[0]} alt={v.title} />
                    <div class="mt-4 md:mt-0">
                        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{v.title}</h2>
                        <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">{v.description}</p>
                        {v.demoURL ? 
                            <a href={v.demoURL} class="inline-flex items-center text-white bg-violet-700 hover:bg-violet-800 focus:ring-4 focus:ring-violet-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900">
                                Demo
                            </a>
                            : ""}
                        {v.sourceURL ? 
                            <a href={v.sourceURL} class="inline-flex items-center border-gray-100 border-solid text-white hover:bg-violet-200 focus:ring-4 focus:ring-violet-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-violer-900">
                                Source Code
                            </a>
                            : "" }
                    </div>
                </div>
            )}
        </section>
    </main>
</Layout>
